obj/Debug/net452/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
obj/Debug/net452/tptools.AssemblyInfo.cs
obj/Debug/net452/tptools.AssemblyInfoInputs.cache
obj/Debug/net452/tptools.csprojAssemblyReference.cache
bin/Debug/net452/tptools.dll
bin/Debug/net452/tptools.pdb
bin/Debug/net452/VintagestoryAPI.dll
bin/Debug/net452/VintagestoryAPI.xml
bin/Debug/net452/VSCreativeMod.dll
bin/Debug/net452/VSEssentials.dll
bin/Debug/net452/VSSurvivalMod.dll
obj/project.assets.json
obj/project.nuget.cache
obj/tptools.csproj.nuget.dgspec.json
obj/tptools.csproj.nuget.g.props
obj/tptools.csproj.nuget.g.targets
obj/Debug/net452/tptools.assets.cache
obj/Debug/net452/tptools.csproj.CopyComplete
obj/Debug/net452/tptools.csproj.CoreCompileInputs.cache
obj/Debug/net452/tptools.dll
obj/Debug/net452/tptools.csproj.FileListAbsolute.txt
obj/Debug/net452/tptools.pdb
